In [15]:
import pandas as pd
train = pd.read_csv("~/kaggle_data/train.csv")
test = pd.read_csv("~/kaggle_data/test.csv")

In [16]:
train = train.drop('Descript',1).drop('Resolution',1)
train['Address'] = train['Address'].apply(lambda x: 1 if "/" in x else 0)

In [17]:
train = train.rename(columns={'Address':'Corner'})

In [18]:
# extract dates
train['Dates'] = pd.to_datetime(train['Dates'])
train['year'] = train['Dates'].dt.year
train['month'] = train['Dates'].dt.month
train['hour'] = train['Dates'].dt.hour
train['minute'] = train['Dates'].dt.minute
train = train.drop('Dates', 1)

In [7]:
train.head()

,Category,DayOfWeek,PdDistrict,Corner,X,Y,year,month,hour,minute
0,WARRANTS,Wednesday,NORTHERN,1,-122.425892,37.774599,2015,5,23,53
1,OTHER OFFENSES,Wednesday,NORTHERN,1,-122.425892,37.774599,2015,5,23,53
2,OTHER OFFENSES,Wednesday,NORTHERN,1,-122.424363,37.800414,2015,5,23,33
3,LARCENY/THEFT,Wednesday,NORTHERN,0,-122.426995,37.800873,2015,5,23,30
4,LARCENY/THEFT,Wednesday,PARK,0,-122.438738,37.771541,2015,5,23,30

In [19]:
test['Address'] = test['Address'].apply(lambda x: 1 if "/" in x else 0)
test = test.rename(columns={'Address':'Corner'})

In [20]:
test['Dates'] = pd.to_datetime(test['Dates'])
test['year'] = test['Dates'].dt.year
test['month'] = test['Dates'].dt.month
test['hour'] = test['Dates'].dt.hour
test['minute'] = test['Dates'].dt.minute
test = test.drop('Dates', 1)

In [22]:
train.head()

,Category,DayOfWeek,PdDistrict,Corner,X,Y,year,month,hour,minute
0,WARRANTS,Wednesday,NORTHERN,1,-122.425892,37.774599,2015,5,23,53
1,OTHER OFFENSES,Wednesday,NORTHERN,1,-122.425892,37.774599,2015,5,23,53
2,OTHER OFFENSES,Wednesday,NORTHERN,1,-122.424363,37.800414,2015,5,23,33
3,LARCENY/THEFT,Wednesday,NORTHERN,0,-122.426995,37.800873,2015,5,23,30
4,LARCENY/THEFT,Wednesday,PARK,0,-122.438738,37.771541,2015,5,23,30

In [23]:
test.to_csv('test.csv',index=False)
train.to_csv('train.csv',index=False)

In [24]:
training = pd.read_csv("train.csv")
testing = pd.read_csv("test.csv")

In [27]:
testing.head()

,Id,DayOfWeek,PdDistrict,Corner,X,Y,year,month,hour,minute
0,0,Sunday,BAYVIEW,0,-122.399588,37.735051,2015,5,23,59
1,1,Sunday,BAYVIEW,1,-122.391523,37.732432,2015,5,23,51
2,2,Sunday,NORTHERN,0,-122.426002,37.792212,2015,5,23,50
3,3,Sunday,INGLESIDE,0,-122.437394,37.721412,2015,5,23,45
4,4,Sunday,INGLESIDE,0,-122.437394,37.721412,2015,5,23,45